.card {
	width: 100% !important;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 25px;
}

.img-pokemon {
	margin-top: 25px;
	width: 70px;
}

.card-cover {
  transition: .3s;
  box-shadow: 0 0 8px rgba(0,0,0,.6);
}

.btn-pokemon {
	background-color: #ff5959;
	color: white;
	padding-right: 10%;
}

.contador {
	margin-top: 160px;
}