/*.pokemonInfo {
	border-style: solid;
	border-width: 15px;
	border-bottom-width: 100px;
	border-color: #FF530D;

}

.pokemonHabilidades {
	border-style: solid;
	border-width: 15px;
	border-bottom-width: 100px;
	border-color: #E82C0C;
}

.listAbility {
	color: white;
	background: #FF530D;
	}*/

.pokemonInfo {
	padding-top: 61px;
	padding-bottom: 65px;
	color: #2b2b2b;
}

.pokemonHabilidades {
	padding: 25px;
	background: linear-gradient(to left, #FF530D, #E82C0C);
	color: white;
	height: 370px;
}

.listAbility {
	color: white;
	background: #FF530D;
	}