.Modal {
  max-width: 768px;
  max-height: 1024;
  width: 90%;
  height: 370px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 100px;
  background:  white;
  box-shadow: 0 0 10px rgba(0,0,0,.4);
  /* background: linear-gradient(to left, #FF530D, #E82C0C);  */
  background: white;
  color: black;
}

@media screen and (max-width: 768px) {
  .Modal {
    height: auto;
  }
}

.Modal-close {
  width: 50px;
  height: 50px;
  position: absolute;
  right: -35px;
  top: -35px;
  border-radius: 50%;
  border: none;
  background: #171c30;
  color: white;
  cursor: pointer;
  margin-top: 22px;
  margin-right: 22px;
}

.Modal-close:after {
  content: "X";
  font-weight: bold;
  font-size: 30px;
}